---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/test/abc.txt?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wncno17ygixgpy2", oauth_nonce="OFBcHhkkrDGXmi49aG7iOuqD2KmFRgPZ5yVXM2s",
        oauth_signature="jAg%2FJcHyWvEazZFL5tKPZc7fFHQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360086259", oauth_token="930fjrsep84llr7", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"revision": 201705, "rev": "313e900a671c6", "thumb_exists": false,
        "bytes": 3, "modified": "Fri, 01 Feb 2013 22:13:52 +0000", "client_mtime":
        "Fri, 01 Feb 2013 22:13:50 +0000", "path": "/test/abc.txt", "is_dir": false,
        "icon": "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size":
        "3 bytes"}'
  recorded_at: Tue, 05 Feb 2013 17:44:21 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/media/dropbox/test/abc.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="wncno17ygixgpy2", oauth_nonce="wb890glIMOOXH3lAtaO2rdnh43QK6gs03dpzABc",
        oauth_signature="0%2Fyjb%2B4xn7PXeMCjjTCnlHfoYXo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360086261", oauth_token="930fjrsep84llr7", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"url": "https://dl.dropbox.com/0/view/x8dwszaqm0c1cj1/test/abc.txt",
        "expires": "Tue, 05 Feb 2013 21:44:19 +0000"}'
  recorded_at: Tue, 05 Feb 2013 17:44:21 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/dropbox/test/abc.txt?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wncno17ygixgpy2", oauth_nonce="hH6vd44NRY2f9bOL7vks1LpWgojhJCMPTMsdHZ5eqAc",
        oauth_signature="CmTtznFChhVA6xwPv0f9UnLyOeI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360086261", oauth_token="930fjrsep84llr7", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=ascii
      X-Dropbox-Metadata:
      - ! '{"revision": 201705, "rev": "313e900a671c6", "thumb_exists": false, "bytes":
        3, "modified": "Fri, 01 Feb 2013 22:13:52 +0000", "client_mtime": "Fri, 01
        Feb 2013 22:13:50 +0000", "path": "/test/abc.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "3
        bytes"}'
      Etag:
      - 201705n
    body:
      encoding: US-ASCII
      string: foo
  recorded_at: Tue, 05 Feb 2013 17:44:22 GMT
[...]
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/dropbox/test/abc.txt?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wncno17ygixgpy2", oauth_nonce="UvkwvYx6u9vLuBJtzfoRihIg3HtOzhF3q1w7Xg3TL0",
        oauth_signature="%2FRj%2F5myxRyNlEezFrmfnFrRGjdQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360086263", oauth_token="930fjrsep84llr7", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=ascii
      X-Dropbox-Metadata:
      - ! '{"revision": 201705, "rev": "313e900a671c6", "thumb_exists": false, "bytes":
        3, "modified": "Fri, 01 Feb 2013 22:13:52 +0000", "client_mtime": "Fri, 01
        Feb 2013 22:13:50 +0000", "path": "/test/abc.txt", "is_dir": false, "icon":
        "page_white_text", "root": "dropbox", "mime_type": "text/plain", "size": "3
        bytes"}'
      Etag:
      - 201705n
    body:
      encoding: US-ASCII
      string: foo
  recorded_at: Tue, 05 Feb 2013 17:44:24 GMT
recorded_with: VCR 2.4.0
